* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0 auto;
  width: 960px;
  background-color: rgb(243, 239, 239);
}

header {
  max-width: 100%;
  padding: 2rem;
  height: 150px;
  background-color: navy;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

header span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  margin: 0;
  width: 100%;
  height: 190px;
  border-style: solid;
  border-color: navy;
  border-width: 1px;
  background-image: url('footer.png');
  color: white;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}

.inner-footer {
  margin-top: 132px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 30%;
  background-color: navy;
  text-align: center;
  padding: 1px 10px;
}

a {
  color: rgba(194, 183, 245, 0.92);
  text-decoration: none;
}

a:hover {
  color: rgb(126, 118, 188);
}

nav {
  width: 30%;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  display: inline;
  font-size: 18px;
}

button {
  font: inherit;
  height: 40px;
  border: 1px solid #810036;
  color: white;
  padding: 0.7rem 1.5rem 2rem 1.5rem;
  border-radius: 4px;
  background: #810036;
  text-align: center;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #9d2054;
  border-color: #9d2054;
}

section {
  margin: 0;
  width: 100%;
  background-color: white;
  padding: 2px;
  padding-bottom: 1px;
}

.card {
  margin: 0;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.control {
  margin: 0rem;
}

#user-input,
#game-list,
#filter {
  width: 50rem;
  max-width: 90%;
  margin: 2rem auto;
}

#game-list {
  display: none;
  list-style: none;
  padding: 1rem;
}

#game-list.visible {
  display: block;
}

#game-list li {
  margin: 1rem;
  color: navy;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.cart {
  margin: 1rem 4.5rem;
  width: 800px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.product-list {
  list-style: none;
  margin: 0 1rem;
  padding: 0;
}

.product-item {
  margin: 2rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 50rem;
  max-width: 90%;
  border-radius: 3px;
}

.product-item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.product-item__content {
  padding: 1rem;
  text-align: center;
}

.product-item h2,
.product-item h3 {
  margin: 0 0 1rem 0;
}

label {
  font-weight: bold;
  margin: 0.5rem 0;
  color: #464646;
}

input {
  margin: 4px;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.4rem 0.2rem;
  color: #383838;
}

input:focus {
  outline: none;
  background: #fff1c4;
}

iframe {
  margin-top: 0;
  margin-left: 80px;
}
